@using Expanse.Web.Models
<MudItem xs="12" sm="6" md="3">
    <MudCard>
        @if (Launch.Images.Count > 0)
        {
            <MudCardMedia Image="@Launch.Images[0]" Height="200"/>
        }
        else
        {
            <MudCardMedia Image="assets/images/unavailable-image.jpg" Height="200"/>
        }
        <MudCardContent>
            <span class="d-flex flex-row justify-end mb-4">
                <MudChip Variant="Variant.Text" Color="@(Launch.Success ? Color.Success : Color.Error)"
                         Icon="@(Launch.Success ? Icons.TwoTone.Check : Icons.TwoTone.Close)">
                    Launch @(Launch.Success ? "Successful" : "Unsuccessful")
                </MudChip>
            </span>
            <MudText Typo="Typo.body2" Class="mb-4">Launched from @Launch.Site on @Launch.Date.ToLongDateString().</MudText>
            <MudText Typo="Typo.body2">Mission: @Launch.MissionName</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
        </MudCardActions>
    </MudCard>
</MudItem>

@code {
    [Parameter]
    public Launch Launch { get; set; } = null!;
}