@page "/"   
@using Expanse.Web.Extensions.Models
@using Expanse.Web.Models
@inject SpaceXClient SpaceXClient

<PageTitle>Home | Expanse</PageTitle>

<div class="d-flex flex-column align-center mb-8">
    <MudIcon Icon="@Icons.TwoTone.SatelliteAlt" Size="Size.Large"/>
    <MudText Typo="Typo.h2" Align="Align.Center">Expanse</MudText>
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-4">Some profound text here.</MudText>

    <MudContainer MaxWidth="MaxWidth.Medium" Class="mb-4">
        <MudTextField @bind-Value="_query" Label="Search the Expanse" Variant="Variant.Outlined" Adornment="Adornment.End"
                      AdornmentIcon="@Icons.TwoTone.Search" AdornmentColor="Color.Primary" Class="mud-width-full"/>
    </MudContainer>
</div>

<Section Title="Rockets" Icon="@Icons.TwoTone.Rocket">
    <Template>
        @foreach (var rocket in _model.Rockets)
        {
            <RocketItem Rocket="@rocket"></RocketItem>
        }
    </Template>
</Section>

<Section Title="Launches" Icon="@Icons.TwoTone.RocketLaunch">
    <Template>
        @foreach (var launch in _model.Launches)
        {
            <LaunchItem Launch="@launch"></LaunchItem>
        }
    </Template>
</Section>

<Section Title="Missions" Icon="@Icons.TwoTone.Task">
    <Template>
            @foreach (var mission in _model.Missions)
            {
                <MissionItem Mission="@mission"></MissionItem>
            }
        </Template>
</Section>

<Section Title="Ships" Icon="@Icons.TwoTone.DirectionsBoat">
     <Template>
                @foreach (var ship in _model.Ships)
                {
                    <ShipItem Ship="@ship"></ShipItem>
                }
            </Template>
</Section>

@code
{
    private string? _query;

    private Model _model = new();

    protected override void OnInitialized()
    {
        _ = SpaceXClient.GetHomePageOverview.Watch(ExecutionStrategy.CacheFirst)
            .Where(result => !result.Errors.Any())
            .Select(result => result.Data)
            .Subscribe(data =>
            {
                 _model = new Model
                {
                    Rockets = from entity in data?.Rockets select entity.ToRocket(),
                    Launches = from entity in data?.LaunchesPast select entity.ToLaunch(),
                    Missions = from entity in data?.Missions select entity.ToMission(),
                    Ships = from entity in data?.Ships select entity.ToShip(),
                };
                StateHasChanged();
            });
    }

    public class Model
    {
        public IEnumerable<Rocket> Rockets { get; init; } = new List<Rocket>();
        public IEnumerable<Launch> Launches { get; init; } = new List<Launch>();
        public IEnumerable<Mission> Missions { get; init; } = new List<Mission>();
        public IEnumerable<Ship> Ships { get; init; } = new List<Ship>();
    }
}